// ========= colors =============
$mainColor: #757575;
$secondaryColor: #212121;
$accentColor: #2196f3;
$accentColorHover: #188ce8;
$iconColor: #afb1b8;
$backgroundIcon: #f5f4fa;
$whiteColor: #fff;
$blackColor: #000;
$opasity: rgba(255, 255, 255, 0.6);
$opasitySocial: rgba(255, 255, 255, 0.1);
$opasityPlaceholder: rgba(255, 255, 255, 0.3);

// ======== fonts ===============
$fontMain: "Roboto", "Arial", sans-serif;
$fontSecond: "Raleway", "Open Sans", sans-serif;

// ======== wrapper =============
$wrapper: 1600px;

// ======== breakpoints =========
$mobileScreen: 480px;
$tabletScreen: 767px;
$desctopScreen: 1200px;
