<header class="container header">
  <section class="header__nav">
    <div class="nav__field">
      <!-- ==== logo ==== -->
      <div class="nav__list">
        <a class="nav__logo" href="#"
          >Web<span class="span__logo">Studio</span></a
        >

        <!-- ===== list contact ==== -->
        <nav class="nav">
          <div class="nav__contacts">
            <ul class="contacts__items">
              <li class="contact__item">
                <a class="contact__item--link" href="#">Студія</a>
              </li>
              <li class="contact__item">
                <a class="contact__item--link" href="#">Портфоліо</a>
              </li>
              <li class="contact__item">
                <a class="contact__item--link" href="#">Контакти</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- ======= list links ======= -->
      <div class="nav__links">
        <ul class="links__items">
          <li class="links__item">
            <a
              class="links__item--link"
              aria-label="ссылка на почту"
              href="mailto: info@devstudio.com"
            >
              <svg class="link__mail" width="14" height="10">
                <use href="./images/svg/icons.svg#mail"></use>
              </svg>
              info@devstudio.com</a
            >
          </li>
          <li class="links__item">
            <a
              class="links__item--link"
              aria-label="ссылка на телефон"
              href="tel: +380961111111"
            >
              <svg class="link__phone" width="10" height="14">
                <use href="./images/svg/icons.svg#phone"></use>
              </svg>
              +380961111111</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</header>
