<main>
  <section class="hero">
    <div class="container hero__container">
      <h1 class="hero__title">Ефективні рішення для вашого бізнесу</h1>
      <button type="button" class="hero__button btn" data-modal-open>
        Замовити послугу
      </button>
    </div>
  </section>
  <section class="partials">
    <div class="container partials__container">
      <ul class="partials__items">
        <li class="partials__item">
          <div class="icon__field">
            <svg class="partials__icons" width="70" height="70">
              <use href="./images/svg/icons.svg#antena"></use>
            </svg>
          </div>
          <h3 class="partials__title">УВАГА ДО ДЕТАЛЕЙ</h3>
          <p class="partials__subtitle">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </li>
        <li class="partials__item">
          <div class="icon__field">
            <svg class="partials__icons" width="70" height="70">
              <use href="./images/svg/icons.svg#clock"></use>
            </svg>
          </div>
          <h3 class="partials__title">ПУНКТУАЛЬНІСТЬ</h3>
          <p class="partials__subtitle">
            Завдання організації, особливо рамки і місце навчання кадрів тягне у
            себе.
          </p>
        </li>
        <li class="partials__item">
          <div class="icon__field">
            <svg class="partials__icons" width="70" height="70">
              <use href="./images/svg/icons.svg#diagram"></use>
            </svg>
          </div>
          <h3 class="partials__title">ПЛАНУВАННЯ</h3>
          <p class="partials__subtitle">
            Так само консультація з широким активом значною мірою зумовлює.
          </p>
        </li>
        <li class="partials__item">
          <div class="icon__field">
            <svg class="partials__icons" width="70" height="70">
              <use href="./images/svg/icons.svg#astronaft"></use>
            </svg>
          </div>
          <h3 class="partials__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
          <p class="partials__subtitle">
            Значимість цих проблем настільки очевидна, що реалізація планових
            завдань.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="container work">
    <h2 class="work__title">Чим ми займаємось</h2>
    <ul class="work__items">
      <li class="work__item">
        <picture class="work__item--img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/work/work-1_desk.jpg     1x,
              ./images/work/work-1_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./images/work/work-1_desk.jpg"
            alt="работа специалиста"
            width="370"
            height="294"
            loading="lazy"
          />
        </picture>
        <div class="work__boxTitle">
          <h3 class="work__subtitle">Десктопні додатки</h3>
        </div>
      </li>
      <li class="work__item">
        <picture class="work__item--img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/work/work-2_desk.jpg     1x,
              ./images/work/work-2_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./images/work/work-2_desk.jpg"
            alt="проэктрование мобильного приложения"
            width="370"
            height="294"
            loading="lazy"
          />
        </picture>
        <div class="work__boxTitle">
          <h3 class="work__subtitle">Мобільні додатки</h3>
        </div>
      </li>
      <li class="work__item">
        <picture class="work__item--img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/work/work-3_desk.jpg     1x,
              ./images/work/work-3_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./images/work/work-3_desk.jpg"
            alt="выбор цвета"
            width="370"
            height="294"
            loading="lazy"
          />
        </picture>
        <div class="work__boxTitle">
          <h3 class="work__subtitle">Дизайнерські рішення</h3>
        </div>
      </li>
    </ul>
  </section>
</main>
