<section class="portfolio__buttons container">
  <ul class="portfolio__buttons--list">
    <li class="portfolio__buttons--item">
      <button class="portfolio__button btn">Усі</button>
    </li>
    <li class="portfolio__buttons--item">
      <button class="portfolio__button btn">Веб-сайти</button>
    </li>
    <li class="portfolio__buttons--item">
      <button class="portfolio__button btn">Додатки</button>
    </li>
    <li class="portfolio__buttons--item">
      <button class="portfolio__button btn">Дизайн</button>
    </li>
    <li class="portfolio__buttons--item">
      <button class="portfolio__button btn">Маркетинг</button>
    </li>
  </ul>
</section>
<section class="card container">
  <ul class="card__list">
    <li class="card__item">
      <picture class="team__item--img">
        <!-- ===== desctop ====== -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-1_desk.webp    1x,
            ./images/portfolio/portfolio-1_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-1_desk.jpg    1x,
            ./images/portfolio/portfolio-1_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ====== tablet ===== -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-1_tab.webp    1x,
            ./images/portfolio/portfolio-1_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-1_tab.jpg    1x,
            ./images/portfolio/portfolio-1_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ======= mobile ======= -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-1_mob.webp    1x,
            ./images/portfolio/portfolio-1_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-1_mob.jpg    1x,
            ./images/portfolio/portfolio-1_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/portfolio/portfolio-1_desk.jpg"
          alt="techcrack"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
      <h3 class="team__item--name">Технокряк</h3>
      <h4 class="team__item--subtitle">Веб-сайт</h4>
    </li>
    <li class="card__item">
      <picture class="team__item--img">
        <!-- ===== desctop ====== -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-2_desk.webp    1x,
            ./images/portfolio/portfolio-2_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-2_desk.jpg    1x,
            ./images/portfolio/portfolio-2_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ====== tablet ===== -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-2_tab.webp    1x,
            ./images/portfolio/portfolio-2_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-2_tab.jpg    1x,
            ./images/portfolio/portfolio-2_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ======= mobile ======= -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-2_mob.webp    1x,
            ./images/portfolio/portfolio-2_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-2_mob.jpg    1x,
            ./images/portfolio/portfolio-2_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/portfolio/portfolio-2_desk.jpg"
          alt="poster"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
      <h3 class="team__item--name">Постер New Orlean vs Golden Star</h3>
      <h4 class="team__item--subtitle">Дизайн</h4>
    </li>
    <li class="card__item">
      <picture class="team__item--img">
        <!-- ===== desctop ====== -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-3_desk.webp    1x,
            ./images/portfolio/portfolio-3_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-3_desk.jpg    1x,
            ./images/portfolio/portfolio-3_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ====== tablet ===== -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-3_tab.webp    1x,
            ./images/portfolio/portfolio-3_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-3_tab.jpg    1x,
            ./images/portfolio/portfolio-3_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ======= mobile ======= -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-3_mob.webp    1x,
            ./images/portfolio/portfolio-3_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-3_mob.jpg    1x,
            ./images/portfolio/portfolio-3_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/portfolio/portfolio-3_desk.jpg"
          alt="restoraunt"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
      <h3 class="team__item--name">Ресторан Seafood</h3>
      <h4 class="team__item--subtitle">Додаток</h4>
    </li>
    <li class="card__item">
      <picture class="team__item--img">
        <!-- ===== desctop ====== -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-4_desk.webp    1x,
            ./images/portfolio/portfolio-4_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-4_desk.jpg    1x,
            ./images/portfolio/portfolio-4_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ====== tablet ===== -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-4_tab.webp    1x,
            ./images/portfolio/portfolio-4_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-4_tab.jpg    1x,
            ./images/portfolio/portfolio-4_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ======= mobile ======= -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-4_mob.webp    1x,
            ./images/portfolio/portfolio-4_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-4_mob.jpg    1x,
            ./images/portfolio/portfolio-4_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/portfolio/portfolio-4_desk.jpg"
          alt="project prime"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
      <h3 class="team__item--name">Проєкт Prime</h3>
      <h4 class="team__item--subtitle">Маркетинг</h4>
    </li>
    <li class="card__item">
      <picture class="team__item--img">
        <!-- ===== desctop ====== -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-5_desk.webp    1x,
            ./images/portfolio/portfolio-5_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-5_desk.jpg    1x,
            ./images/portfolio/portfolio-5_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ====== tablet ===== -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-5_tab.webp    1x,
            ./images/portfolio/portfolio-5_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-5_tab.jpg    1x,
            ./images/portfolio/portfolio-5_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ======= mobile ======= -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-5_mob.webp    1x,
            ./images/portfolio/portfolio-5_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-5_mob.jpg    1x,
            ./images/portfolio/portfolio-5_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/portfolio/portfolio-5_desk.jpg"
          alt="project boxes"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
      <h3 class="team__item--name">Проєкт Boxes</h3>
      <h4 class="team__item--subtitle">Додаток</h4>
    </li>
    <li class="card__item">
      <picture class="team__item--img">
        <!-- ===== desctop ====== -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-6_desk.webp    1x,
            ./images/portfolio/portfolio-6_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-6_desk.jpg    1x,
            ./images/portfolio/portfolio-6_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ====== tablet ===== -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-6_tab.webp    1x,
            ./images/portfolio/portfolio-6_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-6_tab.jpg    1x,
            ./images/portfolio/portfolio-6_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ======= mobile ======= -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-6_mob.webp    1x,
            ./images/portfolio/portfolio-6_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-6_mob.jpg    1x,
            ./images/portfolio/portfolio-6_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/portfolio/portfolio-6_desk.jpg"
          alt="borders"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
      <h3 class="team__item--name">Inspiration has no Borders</h3>
      <h4 class="team__item--subtitle">Веб-сайт</h4>
    </li>
    <li class="card__item">
      <picture class="team__item--img">
        <!-- ===== desctop ====== -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-7_desk.webp    1x,
            ./images/portfolio/portfolio-7_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-7_desk.jpg    1x,
            ./images/portfolio/portfolio-7_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ====== tablet ===== -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-7_tab.webp    1x,
            ./images/portfolio/portfolio-7_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-7_tab.jpg    1x,
            ./images/portfolio/portfolio-7_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ======= mobile ======= -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-7_mob.webp    1x,
            ./images/portfolio/portfolio-7_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-7_mob.jpg    1x,
            ./images/portfolio/portfolio-7_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/portfolio/portfolio-7_desk.jpg"
          alt="techcrack"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
      <h3 class="team__item--name">Видання Limited Edition</h3>
      <h4 class="team__item--subtitle">Дизайн</h4>
    </li>
    <li class="card__item">
      <picture class="team__item--img">
        <!-- ===== desctop ====== -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-8_desk.webp    1x,
            ./images/portfolio/portfolio-8_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-8_desk.jpg    1x,
            ./images/portfolio/portfolio-8_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ====== tablet ===== -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-8_tab.webp    1x,
            ./images/portfolio/portfolio-8_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-8_tab.jpg    1x,
            ./images/portfolio/portfolio-8_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ======= mobile ======= -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-8_mob.webp    1x,
            ./images/portfolio/portfolio-8_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-8_mob.jpg    1x,
            ./images/portfolio/portfolio-8_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/portfolio/portfolio-8_desk.jpg"
          alt="project lab"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
      <h3 class="team__item--name">Проєкт LAB</h3>
      <h4 class="team__item--subtitle">Маркетинг</h4>
    </li>
    <li class="card__item">
      <picture class="team__item--img">
        <!-- ===== desctop ====== -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-9_desk.webp    1x,
            ./images/portfolio/portfolio-9_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/portfolio/portfolio-9_desk.jpg    1x,
            ./images/portfolio/portfolio-9_desk@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ====== tablet ===== -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-9_tab.webp    1x,
            ./images/portfolio/portfolio-9_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-9_tab.jpg    1x,
            ./images/portfolio/portfolio-9_tab@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- ======= mobile ======= -->
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-9_mob.webp    1x,
            ./images/portfolio/portfolio-9_mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/portfolio/portfolio-9_mob.jpg    1x,
            ./images/portfolio/portfolio-9_mob@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/portfolio/portfolio-9_desk.jpg"
          alt="buisness"
          width="370"
          height="294"
          loading="lazy"
        />
      </picture>
      <h3 class="team__item--name">Growing Business</h3>
      <h4 class="team__item--subtitle">Додаток</h4>
    </li>
  </ul>
</section>
