.partials__container {
 padding-top: 94px;
 padding-bottom: 94px;
}

.partials__items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width:$tabletScreen)
  {
    flex-wrap: wrap;
  }
@media screen and (max-width:$tabletScreen) {
    margin: 0 auto;
    // flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
 
}
.partials__item {
  @media screen and (max-width:$tabletScreen) {
    width: 354px;
  }
}

.icon__field{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $backgroundIcon;
  @media screen and (max-width:$tabletScreen) {
    width: 354px;
  }
}

.partials__title {
  margin-bottom: 10px;

  color: $blackColor;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.partials__subtitle {
  color: $mainColor;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  width: 270px;
  height: 72px;
}