.partials__container {
 padding-top: 94px;
 padding-bottom: 94px;
}

.partials__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width:$desctopScreen){
    gap: 29px;
  }

  @media screen and (max-width:$tabletScreen){
    gap: 29px;
    justify-content: center;
  }

@media screen and (max-width:$mobileScreen) {
    
  }
 
}
.partials__item {
  max-width: 100%;

  @media screen and (max-width:$tabletScreen) {
    flex-basis: calc((100% - 30px) / 2);
  }

  
}

.icon__field{
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $backgroundIcon;
  @media screen and (max-width:$desctopScreen) {
    min-width: 354px;
  }
  @media screen and (max-width:$tabletScreen) {
    min-width: 450px;
  }
  
}

.partials__title {
  margin-bottom: 10px;

  color: $blackColor;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;

  @media screen and (max-width:$tabletScreen) {
    text-align: center;
  }
}
.partials__subtitle {
  color: $mainColor;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  width: 270px;
  height: 72px;
}